@model HospitalModel

<div>

    <br />
    <h1 class="text-info">Add a Hospital</h1>
    <br />

    <div class="container" style="padding:30px">
        <form asp-action="Add" method="post" class="main-form needs-validation">

            <div class="form-group">
                <label for="Id">Hospital Id</label>
                <input class="form-control" type="number" name="Id" value="" required />
            </div>
            <div class="form-group">
                <label for="HospitalName">Hospital Name</label>
                <input class="form-control" type="text" name="HospitalName" value="" required />
            </div>
            <div class="form-group">
                <label for="HospitalAddress">Address</label>
                <input class="form-control" type="text" name="HospitalAddress" value="" required />
            </div>
            <div class="form-group">
                <label for="HospitalCategory">Category</label>
                <input class="form-control" type="text" name="HospitalCategory" value="" required />
            </div>

            <div>
                <button type="submit" class="btn btn-success text-white">Add</button>
                <a class="btn btn-primary text-white" asp-controller="HospitalAndWard" asp-action="Index" role="button">Back</a>

            </div>
        </form>
    </div>

</div>
