@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="container-fluid intro navbar " id="home">
    <div class=" row">




        <div class=" col-md-7   col-sm-12 align-items-center  ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/doctor.jpg" class="d-block w-100" alt="..." height="515" width="42">
                    </div>

                    <div class="carousel-item">
                        <img src="images/sanitizer.jpg" class="d-block w-100" alt="..." height="515" width="42">
                    </div>

                    <div class="carousel-item">
                        <img src="images/handwash.jpg" class="d-block w-100" alt="..." height="515" width="42">
                    </div>


                    <div class="col-md-4   col-sm-12  align-items-center  ">


                    </div>

                </div>




                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>


            </div>
            <!-- <a href="#" class="btn_1  btn-lg ml-2 mt-5 mb-3 " style="border-radius:30px; border-color:floralwhite;">Cases Report</a> -->



        </div>





        <div class="card col-lg-4 col-sm-12 mt-5 pt-4" style="width: 18rem;">
            <div class="col-lg-10">

                <img src="images/pm.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-success">PM Message</h5>
                    <p class="card-text text-primary"><b>INSHA ALLAH The government has launched its own initiatives, which has been providing cash assistance of 12,000 rupees ALLAH save us from this virus </p>
                </div>
            </div>



        </div>



    </div>

    <!-------------------------------------START SYMPTHOMS SECTION ----------------------------------------- -->



    <div class="container mt-5 col-md-12" id="symptoms" style="padding: 220px 0px;
transition-delay: 10s;">

        <div class="row  center" style="margin-top:290px; transition-delay: 10s;">
            <div class="col-md-12 col-sm-12">
                <h1 class="btn_1 btn font mb-5">Corona Virus SYMPTOMS</h1>
            </div>

            <div class="col-md-12 text-dark">
                <h3>
                    It can take up to 14 days for symptoms of coronavirus to appear. The main
                    <br>
                    symptoms to look out for are:
                </h3>
            </div>

        </div>



        <div class="row col-md-12 " style="margin-top:100px;">

            <div class="row col-md-5  ml-3 ">
                <h1 class="solid text-success pt-4">
                    Coughing
                </h1>
                <img class="ml-3" src="images/spread.png" alt="..." height="100" width="90">
            </div>


            <div class="row col-md-5 ml-3">
                <h1 class="solid text-success pt-4">
                    Hot Fever
                </h1>
                <img class="ml-3" src="images/high-temperatures.png" alt="..." height="100" width="90">
            </div>

        </div>


        <div class="row col-md-12 " style="margin-top:100px;">

            <div class="row col-md-5  ml-3 ">


                <h1 class="solid text-success pt-4">
                    Shortness      of    Breath
                </h1>
                <img class="ml-3" src="images/short.png" alt="..." height="100" width="90">
            </div>


            <div class="row col-md-5 ml-3">
                <h1 class="solid text-success pt-4">
                    Sore Throat
                </h1>
                <img class="ml-3" src="images/virus.png" alt="..." height="100" width="90">
            </div>

        </div>





        <div class="row " style="margin-top:200px;">
            <div class="col-lg-12 center mb-5 ">
                <h1 class="btn_1 btn font">Precautions</h1>
            </div>
        </div>

        <div class="row ">

            <div class="col-lg-6 col-sm-12  ">
                <img class="image_circle ml-5" src="images/pak_Saudi.jpg" alt="..." height="460" width="600">
            </div>

            <div class="col-lg-6 pt-2 ">

                <div class="row">

                    <div class="col-lg-1 pl-2">
                        <img src="images/interface.png" alt="..." height="40" width="50">
                    </div>


                    <div class="col-lg-10 ">
                        <h5 class="text-success ">Wash Your Hands For 20sec</h5>
                        <p> Wash hands often with soap and water for at least 20 seconds</p>
                    </div>

                </div>






                <div class="row">

                    <div class="col-lg-1 pl-2">
                        <img src="images/interface.png" alt="..." height="40" width="50">
                    </div>


                    <div class="col-lg-10 ">
                        <h5 class="text-success ">Avoid Contact With Sick People</h5>
                        <p>
                            Avoid close contact with anyone showing symptoms of respiratory illness.
                        </p>
                    </div>

                </div>







                <div class="row">

                    <div class="col-lg-1 pl-2">
                        <img src="images/interface.png" alt="..." height="40" width="50">
                    </div>


                    <div class="col-lg-10 ">
                        <h5 class="text-success ">Avoid Crowded Places (Social Distancing)</h5>
                        <p>
                            As an individual, you can lower your risk of infection by reducing your rate of contact
                            with other people. Avoiding public spaces and unnecessary social gatherings, especially
                            events with large numbers of people or crowds, will lower the chance that you will   be
                            exposed  to the coronavirus as well as to other infectious diseases like flu.

                        </p>
                    </div>

                </div>





                <div class="row">

                    <div class="col-lg-1 pl-2">
                        <img src="images/interface.png" alt="..." height="40" width="50">
                    </div>


                    <div class="col-lg-10 ">
                        <h5 class="text-success ">  Use Sanitizer</h5>
                        <p>   Use hand sanitizer if soap and water are not available.</p>
                    </div>

                </div>





                <div class="row">

                    <div class="col-lg-1 pl-2">
                        <img src="images/interface.png" alt="..." height="40" width="50">
                    </div>


                    <div class="col-lg-10 ">
                        <h5 class="text-success ">Cover Nose & Mouth When Sneezing</h5>
                        <p> Cover coughs and sneezes with tissues.</p>
                    </div>

                </div>



            </div>

        </div>

    </div>






    <!-------------------------------------END SYMPTHOMS SECTION ----------------------------------------- -->


</div>
