/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Add Doctor styles
-------------------------------------------------- */
.main-form {
    width: 450px;
    margin: auto;
}



/* HomePage styles
-------------------------------------------------- */
/*.navbar {
    background-image: -webkit-linear-gradient(0deg, #26d1a6 0%, #46c1f1 100%);
    min-height: 80px;
}*/

.section-padding {
    margin-top: 200px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
}



.margin {
    margin-left: 365px;
}

.topnav {
    float: right;
}

li a {
    color: black;
}

.banner {
    height: 100vh;
}


.btn_1 {
    border-radius: 30px;
    border-color: green;
    background-image: -webkit-linear-gradient(0deg, #26d1a6 0%, #46c1f1 100%);
}

.intro {
    height: 100vh;
}

.navbar #Menu .custom-nav .nav-item a {
    color: white;
}

    .navbar #Menu .custom-nav .nav-item a:hover {
        color: green;
    }


div.center {
    text-align: center;
    color: rgb(42, 255, 219);
}


.image_circle {
    border-radius: 5%;
}

.center {
    text-align: center;
}




.menu {
    text-align: center;
    color: rgb(42, 255, 219);
}

.btn-background_1 {
    background-image: -webkit-linear-gradient(0deg, #26d1a6 0%, #46c1f1 100%);
}

.back {
    background-color: ivory;
}

.navbar-toggler {
    color: white;
    border-color: white;
    border: 1px solid gold;
    float: right;
}

.font {
    font-size: 35px;
}

.solid {
    border-style: solid;
    border-radius: 5%;
    border-color: darkcyan;
    border-width: 5px;
    width: 400px;
}